.app-container {
  background-color: #ffc2a0;
  padding: 30px;
}
.mini-div {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading {
  color: #ff8542;
  font-size: 30px;
  font-family: 'Roboto';
}
